<p>chat-popup works!</p>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- My jQuery -->
    <script src="main.js"></script>

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/c9c39efec6.js" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
      rel="stylesheet"
    />

    <title>Chatroom</title>
  </head>
  <body>
    <!-- Message box -->
    <div class="chat_box">
      <div class="chat_header">
        <!-- <img src="user.jpg" class="user_icon" /> -->
        <h3 class="username">Chat bot</h3>
        <i class="fas fa-times close"></i>
      </div>
      <hr />
      <div class="message_content">
        <div class="messages">
          <div class="p1">
            <p>This message is from him</p>
          </div>
          <div class="p2">
            <p>This is from ME</p>
          </div>
          <div class="new_messages p2"></div>
        </div>

        <div class="input_box">
          <textarea
            class="message_input"
            placeholder="Type a message..."
          ></textarea>
          <i class="fas fa-location-arrow"></i>
        </div>
      </div>
    </div>
  </body>
</html>